body {
	background-color: #222;
}

/*Game Board*/

section {

}

.container {
	width: 610px;
	height: 750px;
	position: relative;
	background-color: #222;
	margin: 80px auto;
}

/*Headings*/

/*h1 {
	font-family: 'Arial', sans-serif;
	font-size: 30px;
	text-align: center;
}*/

.headingCell {
	width: 200px;
	height: 85px;
	font-family: 'Arial', sans-serif;
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	border-radius: 5px;
	color: #85888B;
	padding: 15px 0 0 0;
	text-shadow: 2px 2px #222;
	text-transform: uppercase;
}

#head1 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #165788;
}

#head2 {
	position: absolute;
	top: 0;
	left: 210px;
	background-color: #822433;
}

#head3 {
	position: absolute;
	top: 0;
	left: 420px;
	background-color: #165788;
}

/*Board Cells*/

div {

}

.gameCell {
	background-color: #85888B;
	width: 200px;
	height: 200px;
	border-radius: 5px;
}

.resetCell1 {
	position: absolute;
	top: 40px;
	left: 0;
}

#cell1 {
	position: absolute;
	top: 110px;
	left: 0;
}

#cell2 {
	position: absolute;
	top: 110px;
	left: 210px;
}

#cell3 {
	position: absolute;
	top: 110px;
	left: 420px;
}

#cell4 {
	position: absolute;
	top: 320px;
	left: 0;
}

#cell5 {
	position: absolute;
	top: 320px;
	left: 210px;
}

#cell6 {
	position: absolute;
	top: 320px;
	left: 420px;
}

#cell7 {
	position: absolute;
	top: 530px;
	left: 0;
}

#cell8 {
	position: absolute;
	top: 530px;
	left: 210px;
}

#cell9 {
	position: absolute;
	top: 530px;
	left: 420px;
}

/*Reset Button*/

.button {
	width: 100%;
	position: absolute;
	top: 740px;
	left: 210px;
}

button {
	background-color: #165788;
    border: none;
    color: #85888B;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    width: 200px;
}

button:focus {
	outline: 0;
}

#resetButton {

}

/*Styles Applied to Game Cells on Click*/

.printRed {
	font-size: 200px;
	font-family: 'Arial', sans-serif;
	background-color: #822433;
	color: #85888B;
	text-align: center;
	width: 200px;
	height: 200px;
	border-radius: 5px;
}

.printBlue {
	font-size: 200px;
	font-family: 'Arial', sans-serif;
	background-color: #165788;
	color: #85888B;
	text-align: center;
	width: 200px;
	height: 200px;
	border-radius: 5px;
}